.cimo-media-manager-metadata {
	float: left;
	margin: 1.5em 0;
	background-color: #fff;
	color: #000;
	padding: 16px 20px;
    border-radius: 16px;
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.cimo-media-manager-metadata-title-container {
	display: flex;
	margin: 0 0 16px;
	gap: 4px;

	svg {
		width: 20px;
		height: 20px;
		vertical-align: middle;
		margin-top: -1px;
		fill: #19af19;
	}
}

.cimo-media-manager-metadata ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 13px;

	li {
		margin-bottom: 4px;
	}
}

.cimo-media-manager-metadata-title {
	margin: 0;
	font-size: 16px;
    line-height: 1.2;
}

.cimo-compression-savings {
	font-size: 21px;
    font-weight: 700;
    color: #19af19;
	margin-bottom: 16px !important;
	text-align: center;
}

.cimo-compression-savings-bytes {
	display: block;
	font-size: 13px;
    font-weight: 500;
    color: #999;
}

.cimo-value {
	font-weight: 600;
}

.cimo-filesize-optimized {
	margin-bottom: 16px !important;
}

#cimo-data-meta-box.postbox .inside {
	padding-top: 12px;
}